#hero {
    background-image: url(https://images.pexels.com/photos/576831/pexels-photo-576831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-banter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
    
}
.hero-banter h2 {
    font-size: 65px;
    margin: 0;
    color: rgb(27, 3, 61);
}
.hero-subhead {
    margin: 0;
    font-size: 20px;
}
.hero-subhead::before{
    content: " Forco imunitetin tend ";
    font-size: 20px;
    animation: hero-animation 10s infinite;
}
@keyframes hero-animation {
    0% {
        font-size: 400%;
        opacity: 1;
    }
    25% {
        font-size: 370%;
        opacity: 0;
    }
    50% {
        font-size: 400%;
        opacity: 1;
    }
    65% {
        font-size: 370%;
        opacity: 0;
    }
    80% {
        font-size: 400%;
        opacity: 1;
        content: 'Siguroni shendetin tuaj';
    }
    90% {
        font-size: 370%;
        opacity: 0;
    }
    100% {
        font-size: 400%;
        opacity: 1;
        content: 'Unike';
    }
}